*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
background: rgb(5,0,255);
background: linear-gradient(180deg, rgba(5,0,255,0.3) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 50%, rgba(255,199,0,0.3) 100%);
background-attachment: fixed;
}


img{
  width: 25vmin;
 
}

.img {
  display: flex;
   z-index:2 ;
}



header{
  width: 90vw;
  position: sticky;
  top: 4vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5vmin;
}

.button{
border-color: rgba(0, 0, 0, 0.2);
border-style: solid;
border-width: 1px;
padding: 4px;
border-radius: 7px;
}

.boule{
  width: 60vmin;
  height:60vmin;
  background: linear-gradient(
    to right,
    #0500FF,
  #FFC700
  );
  opacity: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  position: sticky;
  top: 0;
}

.titre{
  position: absolute;
  top: 10vh;
  z-index:3;
  text-align: center;
  font-size: 7vmin; 
  display: flex;
  flex-direction: column;
  
}

.Toculus{
  font-size: 20vmin;
  font-weight:normal;
  margin-bottom: -3vmin;
}

.Tlight{
  font-weight:100;
}

.casque{
  width: 50vmin;
  display: flex;
  
}

footer{
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 2rem;
  height: 35vh;
  width:100vw;

}

.link{
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(97, 97, 97,0.3);
  border-radius: 7px;
}


.previous{
background-image: url("/Oculus-Quest2/img/exemplepre.jpg");
background-size: contain;
width: 35vw;
height: 25vh;

}

.next{
  background-image: url("/Oculus-Quest2/img/exempleapr.jpg");
  background-size: contain;
  width: 35vw;
height: 25vh;
}

.helmetAnim{
  
}

.void{
  width: 100vw;
  height:1000vh;
}