body {
  margin: 0px;
}

.video {
  background-color: blue;
}

.video,
.img1,
.img2,
.img3 {
  width: 100vw;
  height: 100vh;
}

.img1 {
  background-color: red;
  object-fit: cover;
  max-width: 100%;
  height: auto; 
}
.img1 img{
 width:100%;
  height:100%;
  display:block;
  vertical-align: center;
}
.img2 {
  background-color: coral;
   object-fit: cover;
  max-width: 100%;
  height: auto; 
}
.img2 img{
 width:100%;
  height:100%;
  display:block;
  vertical-align: center;
}

.img3 {
  background-color: yellow;
  object-fit: cover;
  max-width: 100%;
  height: auto; 
}
.img3 img{
 width:100%;
  height:100%;
  display:block;
  vertical-align: center;
}
.info {
  width: 100vw;
  height: 200vh;
  display: flex;
}

.left {
  width: 40vw;
  height: 100%;
  background-color: thistle;
}

.right {
  width: 60vw;
  height: 100%;
  background-color: aquamarine;
}

h1 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 20rem;
  max-width: 100%;
  fill: none;
  stroke: black;
  stroke-width: 3px;
  font-weight: 800;
}

h2 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 10rem;
  
}

h3 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 5rem;
}

.info h2,
h3 {
  padding-left: 50px;
}

.info p {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 2.5rem;
  width: 90%;
  padding-left: 50px;
}

.vone {
  position: fixed;
  display: none;
}

.img30 img {
  object-fit: cover;
  width: 100%;
  
}

footer {
}
