* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-family: "ibm plex mono", monospace;
  font-style: bold;

  max-width: 100%;
}

.prems {
  height: 100vh;
  width: 100%;
  background-color: black;
  
  place-items: center;

}



section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}



.pioneer {
  display: grid;
  place-items: center;
}

* {
  font-family: "ibm plex mono", monospace;
}

.content {
  width: 100%;

  margin: 0 auto;
}

section {
  display: grid;
  grid: auto / 2fr 1fr;
  grid-gap: 0 2em;
  height: 100vh;
}

p {
  grid-column: 2 / 3;
  font-size: 2.8em;
}

.section-title {
  grid-column: 1 / 2;
  text-align: right;
  align-self: start;
  top: 1em;
  position: sticky;
  top: 1em;
  font-size: 4em;
}

.cont {
  display: grid;
  place-items: center;
}
body {
  margin: 0px;
}

.content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
section .content {
  display: grid;
  grid: auto / 200px 1fr;
  grid-gap: 0 2em; 
   width: 40vw;
  height: 100%;
}
 p {
    grid-column: 2 / 3;
    float: right;
    display: flex;
    flex-direction: column;
  }

.section-title {
  grid-column: 1 / 2;
  text-align: right;
  align-self: start;
  top: 1em;
  position: sticky;
  
}
.video {
  background-color: blue;
}

.video,
.img1,
.img2,
.img3 {
  width: 100vw;
  height: 100vh;
}

img{
  width: 90%;
}

}
.info {
  width: 100vw;
  height: 200vh;
  display: flex;
}

.left {
  width: 40vw;
  height: 100%;
  background-color: thistle;
}

.right {
  width: 60vw;
  height: 100%;
  background-color: aquamarine;
}

h1 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 20rem;
  max-width: 100%;
  fill: none;
  stroke: black;
  stroke-width: 3px;
  font-weight: 800;
}

h2 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 10rem;
  
}

h3 {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 5rem;
}

.info h2,
h3 {
  padding-left: 50px;
 
}

.left h3{
  grid-column: 1 / 2;
  text-align: right;
  align-self: start;
  top: 1em;
  position: sticky;
}
.info p {
  font-family: "ibm plex mono", monospace;
  font-style: bold;
  font-size: 2.5rem;
  width: 90%;
  padding-left: 50px;
}

.vone {
  position: fixed;
  display: none;
}

.img30 img {
  object-fit: cover;
  width: 100%;
  
}

footer {
  display: flex;
  justify-content: space-around;
}

a{
  width:25vw;
  height: 25vh;
}

.navbtn {
 width:25vw;
 height: 25vh;
 margin-top: 60px;
 margin-bottom: 30px;
 border-radius: 5px;
 border: solid 1.5px black;
 background-size: cover;
}

.previous {
 background-image: url("svg-siteImmersif/oculus quest.jpg");

}

.next {
background-image: url("svg-siteImmersif/Polaroid.jpg");
}

.navbtn img {
  position: absolute;
  width: 20vw;
  top:0;
}
 footer {
  display: flex;
  justify-content: space-around;
}

a{
  width:25vw;
  height: 25vh;
}

.navbtn {
 width:25vw;
 height: 25vh;
 margin-top: 60px;
 margin-bottom: 30px;
 border-radius: 5px;
 border: solid 1.5px black;
 background-size: cover;
}

.previous {
 background-image: url("../Polaroid/preview.jpg");

}

.next {
background-image: url("../Ipod-Nano/preview.jpg");
}

.navbtn img {
  position: absolute;
  width: 20vw;
  top:0;
}